/* Reset some default browser styles */
/* START */
html,
body,
h1,
h2,
h3,
p {
  margin: 0;
  padding: 0;
}
/* END */

/* Global font family */
/* START */
body {
  font-family: Arial, Helvetica, sans-serif;
}
/* END */

/* Main container styling */
/* START */
.App {
  display: flex;
  height: 100vh;
}

.main-content {
  width: 100%;
}

.main-content > div {
  padding: 50px 59px;
}
/* END */

/* Side Navbar */
/* START */
.sidebar {
  background-color: #FF2400;
  height: 100vh;
}

.sidebar ul {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 25px;
  list-style: none;
  gap: 25px;
}

.sidebar a {
  color: #15171A;
  text-decoration: none;
}

.sidebar img {
  width: 30px;
}
/* END */

/* Top Navbar */
/* START */
.navbar {
  background-color: #cccccc;
  padding: 10px 25px;
  display: flex;
  gap: 25px;
  justify-content: flex-end;
  align-items: center;
}

.navbar ul {
  list-style: none;
}

.navbar a {
  color: #15171A;
  text-decoration: none;
}

.navbar .profile-pic {
  width: 50px;
  height: 50px;
  border-radius: 50%;
}
/* END */

/* Buttons */
/* START */
button {
  background-color: #030303;
  color: #fff;
  border-radius: 12px;
  padding: 12px 18px;
  border: none;
  cursor: pointer;
}

.login {
  background-color: #0056f7;
}

.logout {
  background-color: #ce0404;
}
/* END */

/* Profile Page */
/* START */
.profile h1,
.profile p {
  margin-bottom: 10px;
}

.profile img {
  border-radius: 50%;
  margin-bottom: 10px;
}
/* END */